fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.25
pydantic==2.5.3
pydantic-settings==2.1.0
python-multipart==0.0.6
openpyxl==3.1.5
openai==1.10.0
psycopg2-binary==2.9.9  
python-dotenv==1.0.0
alembic
 
pytest==7.4.4
pytest-cov==4.1.0
pytest-asyncio==0.23.3
httpx==0.26.0
 
black==24.1.1
flake8==7.0.0
isort==5.13.2
mypy==1.8.0
 
ipython==8.20.0
ipdb==0.13.13
python-jose
passlib[bcrypt]
python-multipart
argon2_cffi
passlib[argon2]
apscheduler
redis
celery
pydantic[email]
# pandas==3.0.0
pandas==1.5.3
numpy==1.23.5
python-multipart
pillow==12.1.1
boto3==1.42.53