@import "tailwindcss";

html,
body {
  overflow-x: hidden;
    font-family: "Inter", sans-serif;

}


/* ✅ Enable dark mode using class */
@custom-variant dark (&:where(.dark, .dark *));

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease;
}


.date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.dark .date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Hide browser default calendar icon */

.custom-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
}